* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 40px 100px;
  position: fixed;
  top: 0;
  transition: 1s;
}

.links-container > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.Button {
  width: 170px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: #e68a1f;
}
.content {
  width: 100vw;
  height: 200vh;
  background-color: gainsboro;
}

.scrolled {
  background-color: white;
}
.scrolled .image-container {
  color: #2c4b78;
}
.scrolled li {
  color: #2c4b78;
  transition: 1s;
}
